// Parámetros globales
params {
    outdir = "outputs/run_${new Date().format('yyyyMMdd_HHmmss')}"
}

// Configuración de procesos
process {
    // Configuración general de publishDir para todos los procesos
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Configuración específica por proceso
process {
    withName: 'FASTQC_RAW' {
        publishDir = [
            path: "${params.outdir}/raw_fastqc",
            mode: 'copy',
            pattern: "*.{html,zip}"
        ]
    }
    
    withName: 'FASTQC_TRIM' {
        publishDir = [
            path: "${params.outdir}/trim_fastqc",
            mode: 'copy',
            pattern: "*.{html,zip}"
        ]
    }
    
    withName: 'TRIMMOMATIC' {
        publishDir = [
            [
                path: "${params.outdir}/trimmed_reads",
                mode: 'copy',
                pattern: "*.paired.trim*.fastq.gz"
            ],
            [
                path: "${params.outdir}/trimmed_reads/logs",
                mode: 'copy', 
                pattern: "*.{log,summary}"
            ]
        ]
        ext.args2 = 'ILLUMINACLIP:group2a/adapters/TruSeq3-PE-2.fa:2:30:10 LEADING:20 TRAILING:20 SLIDINGWINDOW:4:20 MINLEN:100'
    }
}
