/******************************************************************
 *                AGB2025 – Nextflow configuration               *
 *                      (Docker)                         *
 ******************************************************************/

manifest {
  name        = 'egenomics/agb2025'
  author      = 'AGB2025'
  homePage    = 'https://github.com/egenomics/agb2025'
  description = 'Pipeline for AGB2025 project'
  version     = '1.0.0'
}

/* ---------- Container profile ---------- */
profiles {
  docker {
    docker.enabled  = true
    docker.registry = 'quay.io'

    /* container tag picked from each nf-core module */
    process.container = { task -> task.module.container }
    process.executor  = 'local'

    /* make files created in the container owned by you */
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
}

/* ---------- Global parameters ---------- */
params {
  run_id    = null  // 
  outdir    = "runs/${params.run_id}"
  metadata  = "runs/${params.run_id}/metadata/metadata.tsv"
  classifier_db = "databases/silva-138-99-nb-classifier.qza"
  denoiser = 'dada2'
  trunc_len_f = 240 // DADA2: Forward read truncation length ### depends on the demux report!!!!!!
  trunc_len_r = 180 // DADA2: Reverse read truncation length
  }

/* ---------- Generic process settings (apply to every task) ---------- */
process {
  publishDir = [
    path   : { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
    mode   : 'copy',
    saveAs : { fn -> fn == 'versions.yml' ? null : fn }
  ]
}

/* ---------- Per-process ---------- */
process {

  withName: 'FASTQC_RAW' {
    publishDir = [
      path    : "${params.outdir}/qc_reports/raw",
      mode    : 'copy',
      pattern : "*.{html,zip}"
    ]
  }

  withName: 'FASTQC_TRIM' {
    publishDir = [
      path    : "${params.outdir}/qc_reports/trimmed",
      mode    : 'copy',
      pattern : "*.{html,zip}"
    ]
  }

  withName: 'TRIMMOMATIC' {
    publishDir = [
      [
        path    : "${params.outdir}/trimmed_reads",
        mode    : 'copy',
        pattern : "*.paired.trim*.fastq.gz"
      ],
      [
        path    : "${params.outdir}/trimmed_reads/logs",
        mode    : 'copy',
        pattern : "*.{log,summary}"
      ]
    ]
    /* Extra Trimmomatic arguments */
    ext.args2 = 'ILLUMINACLIP:group2a/adapters/TruSeq3-PE-2.fa:2:30:10 LEADING:20 TRAILING:20 SLIDINGWINDOW:4:20 MINLEN:187'
  }

  withLabel: 'qiime2' {
    container = 'quay.io/qiime2/amplicon:2024.10'
    cpus = 4
    memory = '8 GB'
  }
  
}
